@font-face {
    font-family: "Oswald";
    src: url("/static/fonts/Oswald-Regular.ttf");
}

body {
    background-color: #F3D4A6;
    color: #222222;
    font-family: Oswald,monospace;
    font-size: 1.2rem;
}

.content {
    margin-top: 75px;
}

.m13-chart {
    margin: 3em auto;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

label {
    margin-right: 10px;
}

#product-date-picker {
    margin-top: 50px;
}

#avg-values {
    margin-top: 1em;
    margin-left: .2em;
    font-size: 1.2em;
}

.triangle-worse {
    border-color: transparent transparent red transparent;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    display: inline-block;
    height: 0px;
    width: 0px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.triangle-better {
    border-color: transparent transparent green transparent;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    display: inline-block;
    height: 0px;
    width: 0px;
}

.yesterday {
    color: #606060 ;
}

.simple-tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
