
body {
    font-family: monospace;
    background-color: #fff;
    min-height: 75rem;
}
footer {
  margin-left: 250px;
}

table {
    background-color: #fff;
}

th.date {
  width: 200px;
}

td {
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
}

img.center {
    display: block;
    margin: 0 auto;
}

.m13-btn {
    margin: 10px 10px 10px 0;
    padding: 10px;
    font-family: monospace;
    display: inline;
}

#header {
  position: absolute;
  top: 5px;
  left: 181px;
}
#header > form {
    display: inline;
}

#header_right {
  float: right;
  padding-top: 15px;
  padding-right: 30px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.warning {
  font-size: 40px;
  font-weight: bold;
  color: darkred;
}
