body {
    font-family: monospace;
    background-color: #fff;
}
table {
    background-color: #fff;
}
td {
    padding: 10px;
    border-width: 1px;
    border-style: dotted;
}
#download-csv-btn {
    margin: 10px 0;
    padding: 10px;
    font-family: monospace;
}
img.center {
    display: block;
    margin: 0 auto;
}