{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="main">
  <h2 style='margin-top: 5em'>_total</h2>
  <table>
      <thead>
        <th>Artikel verkauft <br>(seit 2021/07/20)</th>
        <th>Artikel Retoure</th>
        <th>Retoure Quote in %</th>
    </thead>
    <tbody>
      <tr>
        <td style='width: 200em; text-align: right'>
          {{ ctx.total.number_orderitems_all }}
        </td>
        <td style='width: 200em; text-align: right'>
          {{ ctx.total.number_orderitems_return }}
        </td>
        <td style='width: 200em; text-align: right'>
          {{ ctx.total.return_quote }}
        </td>
      </tr>
    </tbody>
  </table>

  <h2 style='margin-top: 5em'>_orderitem_by_status_per_month</h2>
    <table>
      <thead>
        <th>month</th>
        <th>status</th>
        <th>count</th>
        <th>umsatz</th>
    </thead>
    <tbody>
    {% for month, month_data in ctx.status_per_month.items %}
      {% for status, status_data in month_data.items %}
        <tr>
          <td>{{ month }}</td>
          <td>{{ status }}</td>
          <td>{{ status_data.count }}</td>
          <td>{{ status_data.umsatz }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block footer %}
  {% include 'otto/footer.html' %}
{% endblock %}