<div id="header">
  <form action={% url 'etsy_orders' %}>
    <button type="submit" class="m13-btn" title="Import Orders from Etsy Marketplace">
      IMPORT ORDERS
    </button>
  </form>
  <form action={% url 'etsy_orderitems_csv' %}>
    <button type="submit" class="m13-btn" title="Download orderitems as CSV">
      DOWNLOAD ORDERS CSV
    </button>
  </form>
  <form action={% url 'etsy_shipments' %}>
    <button type="submit" class="m13-btn" title="Upload tracking infos for Etsy">
      UPLOAD TRACKING INFOS
    </button>
  </form>
</div>
<div id="header_right">
  _number_of_paid: {{ number_of_paid }}
  _orders: {{ number_of_orders }}
  _orderitems: {{ number_of_orderitems }} (since 2021/10)
</div>