{% extends "base.html" %}

{% block header %}
<div id="header">
  <form action={% url 'etsy_orders' %}>
    <button type="submit" class="m13-btn" title="Bestellungen von ETSY importieren">
      BESTELLUNGEN IMPORTIEREN
    </button>
  </form>
</div>
{% endblock %}

{% block content %}
<div style="height: 200px">
  <p>
    {% if token %}
      AUTH_TOKEN available
    {% else %}
      NO_AUTH_TOKEN available
    {% endif %}
  </p>
  <p>
    {% if refresh_token %}
      REFRESH_TOKEN available
    {% else %}
      NO_REFRESH_TOKEN available
    {% endif %}
  </p>
  <p>
  Response:
    <code>
      {{ response|safe }}
    </code>
  </p>
</div>
{% endblock %}
