{% extends "base.html" %}
{% load dicts_extra %}

{% block header %}
<h2>Finance > Upload Single Transaction CSV Files</h2>
<div id="msg">
  {{ msg }}
</div>

<form method = "post", enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit"> Submit</button>
</form>
{% endblock %}

{% block content %}
<div id="main">
  <hr style="margin: 3em 0; border-top: 1px; color: #aaa;">
  <table>
    <thead>
      <th>name</th>
      <th>processed</th>
      <th>created</th>
    </thead>
    <tbody>
    {% for file in file_uploads %}
    <tr>
      <td>{{ file.file_name }}</td>
      <td>
        {% if file.processed %}
          <div style="width: 1.5rem; height: 1.5rem; background: green; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
        {% else %}
          <div style="width: 1.5rem; height: 1.5rem; background: red; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
        {% endif %}
      </td>
      <td>{{ file.created | date:"c" }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block footer %}
  {% include 'zalando/footer.html' %}
{% endblock %}