{% extends 'base.html' %}

{% load static %}

{% block content %}

<h3>FAILED - This is bad :(</h3>
<hr>
{% for job, values in red_jobs.items %}
  <h4>{{ job }}</h4>
  <table>
  {% for value in values %}
    <thead>
      <th>start</th>
      <th>duration</th>
      <th>success</th>
      <th>note</th>
    </thead>
    <tr>
        <td>{{ value.start|date:"Y-m-d:H:i:s" }}</td>
        <td>{{ value.duration }}</td>
        <td>
          <div style="width: 1rem; height: 1rem; background: red; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
        </td>
        <td>{{ value.description }}</td>
    </tr>
  {% endfor %}
  </table>
  {% empty %}
    <p>Hooray - no failed jobs</p>
{% endfor %}

{% for error in errors %}
  <h2>{{ error.msg }}</h2>
{% empty %}
  <p>Hooray - no errors</p>
{% endfor %}

<h3>WARN - Action needed :|</h3>
<hr>
{% if prices_without_category %}
<table>
  <thead>
    <th>sku</th>
    <th>admin</th>
  </thead>
  {% for price in prices_without_category %}
    <tr>
        <td>{{ price.sku }}</td>
        <td><a href="{{ price.admin_url }}">Fixit</a></td>
    </tr>
  {% endfor %}
</table>
{% endif %}


<h3>PASSED - This is good :)</h3>
<hr>
{% for job, values in green_jobs.items %}
  <div style="float: left; min-height: 350px;">
    <h4>{{ job }}</h4>
    <table>
      <thead>
        <th>start</th>
        <th>duration</th>
        <th>success</th>
        <th>end</th>
      </thead>
      {% for value in values %}
      <tr>
          <td>{{ value.start|date:"Y-m-d:H:i:s" }}</td>
          <td>
            {% if value.success %}
              <div style="width: 1rem; height: 1rem; background: green; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
            {% else %}
              <div style="width: 1rem; height: 1rem; background: red; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
            {% endif %}
          </td>
          <td>{{ value.success }}</td>
          <td>{{ value.end|date:"Y-m-d:H:i:s" }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endfor %}

{% comment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static '/js/m13.index.js' %}"></script>
{% endcomment %}
{% endblock %}
