{% extends 'base.html' %}

{% load static %}

{% block content %}

<h3>FAILED - This is bad :(</h3>
<hr>
{% for job, values in red_jobs.items %}
  <h4>{{ job }}</h4>
  <table>
  {% for value in values %}
    <thead>
      <th>start</th>
      <th>duration</th>
      <th>success</th>
      <th>note</th>
    </thead>
    <tr>
        <td>{{ value.start|date:"Y-m-d:H:i:s" }}</td>
        <td>{{ value.duration }}</td>
        <td>
          <div style="width: 1rem; height: 1rem; background: red; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
        </td>
        <td>{{ value.description }}</td>
    </tr>
  {% endfor %}
  </table>
  {% empty %}
    <p>Hooray - no failed jobs</p>
{% endfor %}

{% for error in errors %}
  <h2>{{ error.msg }}</h2>
{% empty %}
  <p>Hooray - no errors</p>
{% endfor %}

<div class="flex-container">
    <div class="flex-item">
      <canvas id="top13shipped"></canvas>
    </div>
    <div class="flex-item">
      <canvas id="top13returned"></canvas>
    </div>
    <div class="flex-item">
      <canvas id="top5profitBySku"></canvas>
    </div>
    <div class="flex-item">
      <canvas id="top5category"></canvas>
    </div>
</div>
<div class="flex-container">
  <div class="flex-item-100">
    <canvas id="sales-development"></canvas>
  </div>
  <div class="flex-item-100">
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <input id="updateButton" type="button" value="update"/>
  </div>
</div>

<hr>
{% for job, values in green_jobs.items %}
  <div style="float: left; min-height: 350px;">
    <h4>{{ job }}</h4>
    <table>
      <thead>
        <th>start</th>
        <th>duration</th>
        <th>success</th>
        <th>end</th>
      </thead>
      {% for value in values %}
      <tr>
          <td>{{ value.start|date:"Y-m-d:H:i:s" }}</td>
          <td>
            {% if value.success %}
              <div style="width: 1rem; height: 1rem; background: green; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
            {% else %}
              <div style="width: 1rem; height: 1rem; background: red; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
            {% endif %}
          </td>
          <td>{{ value.success }}</td>
          <td>{{ value.end|date:"Y-m-d:H:i:s" }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endfor %}

{% endblock %}
