{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="M13 Business Machine">
  <meta name="author" content="Thomas Rega">
  <title>M13BM - M13 Business Machine</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/jquery-ui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/m13.css' %}">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body {% if location %}class={{ location }}{% endif %}>
  <div id="m13-sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">Dashboard</a>
    <a href="/otto/">Otto</a>
    <a href="/z/">Zalando</a>
    <a href="/etsy/">Etsy</a>
    <a href="/galeria/">Galeria</a>
    <a href="/tiktok/">TikTok</a>
    <a href="/shipping/">Shipping</a>
    <a href="/core/return-shipments-stats">Calculator</a>
    <a href="/z/finance/upload">Z Sales Upload</a>
    <a href="/addi/core/price/">Einstellungen</a>
    <a href="/jobs/">Jobs Overview</a>
  </div>
  <button class="openbtn" onclick="openNav()">☰</button>
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success text-center">
      <h3>
        SUCCESS: {{ message }}
      </h3>
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-error text-center">
      <h3>
        ERROR: {{ message }}
      </h3>
    </div>
    {% endif %}
  {% endfor %}
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js" integrity="sha256-Fb0zP4jE3JHqu+IBB9YktLcSjI1Zc6J2b6gTjB0LpoM=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static '/js/m13.js' %}"></script>

  {% block footer %}{% endblock %}

</body>
</html>
