{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>404</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/m13.css' %}">

</head>
<body>
    <p align="center">
        &#128293; 404 diggi &#128293;
    </p>
    <img
        src="{% static '/img/Manufaktur13_Plakat_2020.jpg' %}"
        alt="Manufaktur13 - M13 - Poster"
        class="center"
    />
    <p align="center">
        &#128293; M13 &#128293; BEST CREW IN TOWN &#128293;
    </p>
  </body>
</html>
