{% extends "base.html" %}

{% block header %}
{% comment %} <div id="header">
  <form action={% url 'otto_import_orders' %}>
    <button type="submit" class="m13-btn" title="Bestellungen von OTTO importieren">
      BESTELLUNGEN IMPORTIEREN
    </button>
  </form>
  <form action={% url 'otto_orderitems_csv' %}>
    <button type="submit" class="m13-btn" title="Alle aktuellen Bestellungen als CSV laden">
      DOWNLOAD BESTELLUNGEN CSV
    </button>
  </form>
  <form action={% url 'otto_upload_tracking_codes' %}>
    <button type="submit" class="m13-btn" title="Tracking Codes zu OTTO hochladen">
      UPLOAD TRACKING CODES
    </button>
  </form>
</div>
<div id="header_right">
  _processable: {{ number_of_processable }}
</div> {% endcomment %}
{% endblock %}

{% block content %}
  <div id="main">
    <h2>_Z_factor</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <button type="submit">SUBMIT</button>
    </form>
    <hr style="margin: 3em 0; border-top: 1px; color: #aaa;">
    <h2>_last_13_feed_uploadz</h2>
    <table style='width: 100%'>
      <thead>
        <th>datetime</th>
        <th>status_code_validation</th>
        <th>status_code_feed_upload</th>
        <th>number_of_valid_items</th>
        <th>original_csv</th>
        <th>pimped_csv</th>
    </thead>
    <tbody>
    {% for f in feed_uploads %}
      <tr>
        <td>{{ f.created|date:"Y-m-d:H:i:s" }}</td>
        <td>{{ f.status_code_validation }}</td>
        <td>{{ f.status_code_feed_upload }}</td>
        <td>{{ f.number_of_valid_items }}</td>
        <td>
            <a href="/media/{{ f.path_to_original_csv|slice:'37:' }}">
                Link
            </a>
        </td>
        <td>
            <a href="/media/{{ f.path_to_pimped_csv|slice:'37:' }}">
                Link
            </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
