{% extends "base.html" %}
{% load dicts_extra %}

{% block header %}
 <div id="header">
  <form action={% url 'zalando_price_table' %}>
    <button type="submit" class="m13-btn" title="Preise überschreiben für einzelne Produkte">
      PRICE TABLE
    </button>
  </form>
  <form action={% url 'zalando_price_feed' %}>
    <button type="submit" class="m13-btn" title="Z Faktor und Price Feed">
      PRICE FEED
    </button>
  </form>
  Order CSVs >>
  <form action={% url 'zalando_orderitems_csv' date=today %}>
    <button type="submit" class="m13-btn"
      title="Alle aktuellen Bestellungen von heuter als CSV laden">
      {{ today }}
    </button>
  </form>
  <form action={% url 'zalando_orderitems_csv' date=yesterday %}>
    <button type="submit" class="m13-btn"
      title="Alle Bestellungen von gestern als CSV laden">
      {{ yesterday }}
    </button>
  </form>
  <form action={% url 'zalando_orderitems_csv' date=dbyesterday %}>
    <button type="submit" class="m13-btn"
      title="Alle Bestellungen von vorgestern als CSV laden">
      {{ dbyesterday }}
    </button>
  </form>
</div>
{% endblock %}

{% block content %}
<div id="main">
  <h2>_last_100_orders</h2>
  <table>
    <thead>
      <th>order_number</th>
      <th>article_number</th>
      <th>ean</th>
      <th>status</th>
      <th>product title</th>
      <th>customer name</th>
      <th>customer address</th>
      <th>created</th>
    </thead>
    <tbody>
    {% for oi in order_items %}
      <tr>
        <td>{{ oi.order.marketplace_order_number }}</td>
        <td>{{ oi.article_number }}</td>
        <td>{{ oi.ean }}</td>
        <td>{{ oi.fulfillment_status }}</td>
        <td>{{ products|get_item:oi.ean }}</td>
        <td>
          {{ oi.order.delivery_address.first_name }}
          {{ oi.order.delivery_address.last_name }}
        </td>
        <td>
          {{ oi.order.delivery_address.street }}
          {{ oi.order.delivery_address.house_number }}
          {{ oi.order.delivery_address.zip_code }}
          {{ oi.order.delivery_address.city }}
          {{ oi.order.delivery_address.country_code }}
        </td>
        <td>
          {{ oi.created | date:"c" }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
