{% extends "base.html" %}
{% load nvd3_tags static %}

{% block extra_js %}
    {% with turnover_by_category as chart %}
        {% load_chart chart.charttype chart.chartdata chart.container_name chart.extra %}
    {% endwith %}
{% endblock %}

{% block title %}
    M13 Statistics
{% endblock %}

{% block main %}
    <h4>Sales by Category</h4>
    <div class="m13-chart">
        {% with turnover_by_category as chart %}
            {% include_container chart.container_name 400 '100%' %}
        {% endwith %}
    </div>
{% endblock %}
