{% extends "base.html" %}
{% load nvd3_tags static %}

{% block extra_js %}
    {% for chart in charts %}
        {% load_chart chart.charttype chart.chartdata chart.container_name chart.extra %}
    {% empty %}
        <!-- no charts available -->
    {% endfor %}


{% endblock %}

{% block title %}
    M13 Statistics
{% endblock %}

{% block main %}
    {% for chart in charts %}
        <h4>{{ chart.category }}</h4>
        <div class="m13-chart">
            {% include_container chart.container_name 400 '100%' %}
        </div>
    {% empty %}
        No charts available Dude
    {% endfor %}
{% endblock %}
