{% extends "sale/base.html" %}
{% load nvd3_tags static %}
{% block extra_js %}
    {% for chart in charts_by_day %}
        {% load_chart chart.charttype chart.chartdata chart.container_name chart.extra %}
    {% empty %}
        <!-- no charts available -->
    {% endfor %}

    {% for chart in charts_plain %}
        {% load_chart chart.charttype chart.chartdata chart.container_name chart.extra %}
    {% empty %}
        <!-- no charts available -->
    {% endfor %}

{% endblock %}
{% block title %}
    M13 Statistics - Product Details for {{ product.sku }}
{% endblock %}
{% block main %}
    <h3>
        Product Details for {{ product.sku }} /
        <a href="https://www.amazon.de/dp/{{ product.asin }}" target="_blank">
            {{ product.asin }}
        </a>
    </h3>

    <h4>{{ product.name }}</h4>
    {% for chart in charts_by_day %}
        <div class="m13-chart">
            <h5>{{ chart.category }} / AVG by Day</h5>
            {% include_container chart.container_name 400 '100%' %}
        </div>
    {% empty %}
        No 'by day' charts available Dude
    {% endfor %}

    {% for chart in charts_plain %}
        <div class="m13-chart">
            <h5>{{ chart.category }} / Plain Values</h5>
            {% include_container chart.container_name 400 '100%' %}
        </div>
    {% empty %}
        No plain charts available Dude
    {% endfor %}

{% endblock %}
