{% extends "base.html" %}

{% block header %}
<div id="header">
  <form action="{% url 'irisone_index' %}">
    <button type="submit" class="m13-btn">
      ORDERS
    </button>
  </form>
</div>
{% endblock %}

{% block content %}
<div id="main">
  <h2>_last_5_feed_uploads</h2>
  <table style="width: 100%">
    <thead>
      <th>datetime</th>
      <th>type</th>
      <th>status_code</th>
      <th>items</th>
      <th>csv</th>
    </thead>
    <tbody>
    {% for f in feed_uploads %}
      <tr>
        <td>{{ f.created|date:"Y-m-d H:i:s" }}</td>
        <td>{{ f.feed_type }}</td>
        <td>{{ f.status_code }}</td>
        <td>{{ f.number_of_items }}</td>
        <td><a href="/media/{{ f.path_to_csv }}">Link</a></td>
      </tr>
    {% empty %}
      <tr><td colspan="5">— no uploads yet —</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block footer %}
<footer>
  <p><a href="{% url 'irisone_index' %}">Return to irisOne index</a></p>
</footer>
{% endblock %}
