{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="main">
  <div>
    <p>
      <button id="bigBangButton" class="ui-button ui-widget ui-corner-all">BigBang</button>
      <button id="twelveMonthsButton" class="ui-button ui-widget ui-corner-all">Last 12 months</button>
      <button id="sixMonthsButton" class="ui-button ui-widget ui-corner-all">Last 6 months</button>
      <button id="threeMonthsButton" class="ui-button ui-widget ui-corner-all">Last 3 months</button>
      <button id="oneMonthButton" class="ui-button ui-widget ui-corner-all">Last 1 month</button>
      <button id="thisMonthButton" class="ui-button ui-widget ui-corner-all">This month</button>
    </p>
    <label for="from">From</label>
    <input type="text" id="from" name="from" autocomplete="off">
    <label for="to">to</label>
    <input type="text" id="to" name="to" autocomplete="off">
    <label><input type="radio" name="marketplace" value="zalando" checked="checked">zalando</label>
    <label><input type="radio" name="marketplace" value="otto">otto</label>
    <span id="sums">
      _absolute_sales: <span id="absolute_sales"></span>
      _absolute_diff: <span id="absolute_diff"></span>
    </span>
  </div>
  <table id="returnShipmentCalculatorOranUtanClaus" class="tablesorter"></table>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static '/js/jquery-3.6.4.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.tablesorter.combined.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/return-shipment-calculator.js' %}"></script>
{% endblock %}
