{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
.category-header {
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}
.category-body {
  padding: 0;
  max-height: 1000em;
  overflow: hidden;
  transition: 0.3s ease all;
}
.closed {
  max-height: 0;
}
.column-s {
  min-width: 12em;
}
.column-m {
  min-width: 10em;
}
.column-l {
  min-width: 12em;
}
.column-xl {
  min-width: 14em;
}
.column-xxl {
  min-width: 18em;
}
.overview .header {
  text-align: right;
  padding: 2em;
  font-weight: bold;
}

.column-l, .column-xl {
  min-width: 0 !important;
  text-align: left;
  width: 5%;
}

.category-header {
  font-size: 1.1em !important;
}

tr:hover {
  background-color: #f9f9f9;
}

.category-body > table > tbody > tr > td:hover {
  background-color: #f0f0f0;
}

.category-overview tr td:first-child, .category-overview tr td:nth-child(2), .category-overview tr td:nth-child(3) {
  width: 10em !important;
}

.minus {
  background-color: red;
  font-weight: bold;
  color: black;
}

.category-body > table > thead > tr > th:hover {
  cursor: crosshair;
}

#sums {
  font-weight: bold;
  padding: 2em;
  margin-left: 5em;
}

.ui-button {
  padding: .3em;

}

.ui-widget {
  font-family: monospace;
  font-size: 1em;
}
</style>
{% endblock %}

{% block content %}
<div id="main">
  <div>
    <p>
      <button id="bigBangButton" class="ui-button ui-widget ui-corner-all">BigBang</button>
      <button id="twelveMonthsButton" class="ui-button ui-widget ui-corner-all">Last 12 months</button>
      <button id="sixMonthsButton" class="ui-button ui-widget ui-corner-all">Last 6 months</button>
      <button id="threeMonthsButton" class="ui-button ui-widget ui-corner-all">Last 3 months</button>
      <button id="oneMonthButton" class="ui-button ui-widget ui-corner-all">Last 1 month</button>
      <button id="thisMonthButton" class="ui-button ui-widget ui-corner-all">This month</button>
    </p>
    <label for="from">From</label>
    <input type="text" id="from" name="from" autocomplete="off">
    <label for="to">to</label>
    <input type="text" id="to" name="to" autocomplete="off">
    <label><input type="radio" name="marketplace" value="zalando" checked="checked">zalando</label>
    <label><input type="radio" name="marketplace" value="otto">otto</label>
    <span id="sums">
      _absolute_sales: <span id="absolute_sales"></span>
      _absolute_diff: <span id="absolute_diff"></span>
    </span>
  </div>
  <table id="returnShipmentCalculatorOranUtanClaus" class="tablesorter"></table>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static '/js/jquery-3.6.4.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.tablesorter.combined.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/return-shipment-calculator.js' %}"></script>
{% endblock %}
