{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="main">
  <h2>FAILED</h2>
  <hr>
  {% for job, values in red_jobs.items %}
    <h3>{{ job }}</h3>
    <table>
    {% for value in values %}
      <thead>
        <th>start</th>
        <th>duration</th>
        <th>success</th>
        <th>note</th>
      </thead>
      <tr>
          <td>{{ value.start|date:"Y-m-d:H:i:s" }}</td>
          <td>{{ value.duration }}</td>
          <td>
            {% if value.success %}
              <div style="width: 1rem; height: 1rem; background: green; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
            {% else %}
              <div style="width: 1rem; height: 1rem; background: red; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
            {% endif %}
          </td>
          <td>{{ value.description }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endfor %}

  <h2>PASSED</h2>
  <hr>
  {% for job, values in green_jobs.items %}
    <h3>{{ job }}</h3>
    <table>
      <thead>
        <th>start</th>
        <th>duration</th>
        <th>success</th>
        <th>end</th>
      </thead>
      {% for value in values %}
      <tr>
          <td>{{ value.start|date:"Y-m-d:H:i:s" }}</td>
          <td>
            {% if value.success %}
              <div style="width: 1rem; height: 1rem; background: green; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
            {% else %}
              <div style="width: 1rem; height: 1rem; background: red; border-radius: 50%; text-align: center; vertical-align: middle;"></div>
            {% endif %}
          </td>
          <td>{{ value.success }}</td>
          <td>{{ value.end|date:"Y-m-d:H:i:s" }}</td>
      </tr>
      {% endfor %}
    </table>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static '/js/jquery-3.6.4.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.tablesorter.combined.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/return-shipment-calculator.js' %}"></script>
{% endblock %}
