[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
django = "*"
django-cors-headers = "*"
django-countries = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-filter = "*"
django-json-field = "*"
django-mass-edit = "*"
django-mathfilters = "*"
django-utils-six = "*"
djangorestframework = "*"
flake8 = "*"
gunicorn = "*"
ipdb = "*"
openpyxl = "*"
pandas = "*"
paramiko = "*"
pip = "*"
psycopg2 = "*"
pyyaml = "*"
werkzeug = "==2.0.3"
xmltodict = "*"
django-ses = "*"
requests = "*"
django-pgviews = "*"
pylint-django = "*"
pytest = "*"

[dev-packages]
black = "*"
pyflakes = "*"
ipdb = "*"
ipython = "*"
pylint = "*"
pylint-django = "*"
pylint-plugin-utils = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-debug-toolbar = "*"
flake8 = "*"
django-extensions = "*"
freezegun = "*"
django-countries = "*"
django-cors-headers = "*"
colorama = "*"
pytest-httpbin = "*"
jinja2 = "*"
flask = "*"
isort = "*"
ruff = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
django-types = "*"

[requires]
python_version = "3.11.9"
